
@media(max-width: 1240px){
    .slick-btn{
        width: 255px;
    }
    .slick-btn:before{
        left: 20%;
    }
    .slick-btn:after{
        right: 15%;
    }
    .slick-prev {
        right: 21%;
        margin: 0 10px;
    }
}

@media(max-width: 1092px){
    .slick-btn span{
        font-size: 25px;
        line-height: 25px;
    }
    .slick-btn{
        height: 100px;
        width: 210px;
    }
    .slick-btn:after{
        right: 10%;
    }
    .slick-btn:before{
        left: 17%;
    }
    .products__items{
        justify-content: center;
    }

}

@media(max-width: 900px){
    .item__body{
        display: inline;
    }
    .info__img img{
        display: block;
        margin: 0 auto;
    }
    .info__content{
        text-align: center;
    }
    .info__text{
        margin-bottom: 30px;
    }
    .slick-next {
        left: 50%;
    }
    .slick-prev {
        right: 50%;
    }
    .slick-btn{
        top: 100%;
    }
    .info{
        margin-bottom: 140px;
    }
    .benefits__items{
        justify-content: center;
    }
}
